

	table { 
		width:500px;
		border-collapse: collapse;
		padding-top: 1px;
		
	}
	
	
	
	tr {
		border-bottom: 2px solid #330099;
	}
		
	.stripe_table th {
		background-color: #330099;
		color: white;
	}

	.stripe_table caption {
		font-weight: bold;
	}

	.stripe_table tbody {
		background-color: #99CCFF;
	}

	th {
		background-color: #330099;
		color: white;
	}
	tbody {
		background-color: #99CCFF;
	}
	
	td {
		text-align:center; 
	}
	
	.first_row {
		text-align: left;
	}
	
	.middle {
		background-color: #CCFFFF;
	}
	
	li {
		display: inline;
		border: 2px solid #330099;
		background-color: #CCFFFF;
		padding: 2px;
		
	}
	
	ul {
		padding-left: 0px;
		padding-bottom: 0px;
		margin: 6px;
		margin-left: 0px;
		margin-top: 0px;
		
	}
	
	h2 {
		padding-bottom: 0px;
		margin: 0px;
	}
	
	.special {
		font-weight: bold;
		display: inline;
		border: none;
		background-color: white;
		padding: 0px;
		padding-right: 150px;
		font-size: 200%;
	}